// $brand-primary: #9068be;
$brand-primary: #2C9EEE;
// $brand-secondary: #6ed3cf;
$brand-secondary: #D7D5D1;
$brand-disable: #e1e8f0;
$brand-danger: #e62739;
$brand-tertiary: #0bda0b;

$border-color: $brand-disable;

$font-size-h1: 30px;
$font-size-h2: 24px;
$font-size-h3: 18px;
$font-size-h4: 14px;
$font-size-h5: 12px;
$font-size-h6: 10px;


$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900